*{
    box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Styles for mobile */
@media only screen and (max-width: 900px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
 
  body {
    zoom:40%;
   height: auto;
    overflow:auto;
    display: hidden;
    background-color:#FEF9F5 ;
    position: fixed;
  }
}
body{
  zoom:50%;
  height: auto;
   overflow:auto;
   display: block;
   background-color:#FEF9F5 ;
}
.sidenav{
  zoom:70%;
}

ul {
  display:flex;  
  list-style:none;
  
}
.wrapper1 .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  left:350px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper1 .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper1 .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper1 .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper1 .icon:hover span,
.wrapper1 .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper1 .home:hover,
.wrapper1 .home:hover .tooltip,
.wrapper1 .home:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper1 .bell:hover,
.wrapper1 .bell:hover .tooltip,
.wrapper1 .bell:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper1 .save:hover,
.wrapper1 .save:hover .tooltip,
.wrapper1 .save:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}
h3{
  padding:30px;
  text-align: center;
}

 
.row {
  display: flex;
  flex-wrap:nowrap;
  padding: 0 0px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 10%;
  padding: 0 30px;
  margin: 1px;
  line-height: 10px;
  display: block;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 170px;
  display: flex;
  float:left;
  line-height: 10px;
}
.genderRadioInput{
  margin: 5px;
}

form{
  margin-top: 50px;
  margin-left: 50px;
  text-align: center;
}
input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}
input[type=number] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}
input[type=tel] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}
.name{
font-size: xx-large;


}
ol{
  list-style-type: none;
  text-align: left;
  padding-left: 70px;
  
}
.uploadImageIcon{
  width: 150px;
  margin-left: 50px;
}
.form-control{
    border: none;
    margin-left: 20px;
    margin-top: 1px;
    width:110px;
    

}
:root {
  --page-background: 277deg, 55%, 12%;
}

button {
  --text-base: 277deg, 55%, 40%;
  --text-hover: 307deg, 72%, 86%;
  --shadow-start: 52deg, 100%, 72%;
  --shadow-end: 282deg, 90%, 50%;
  --shadow-inner: 277deg, 90%, 62%;
  all: unset;
  color: hsl(189, 47%, 57%);
  font: 700 1.125rem/1.2 Raleway, sans-serif;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
  margin-top: 1px;
  max-width: 200%;
  width: 20em;
  background: inherit;
  background-clip: padding-box;
  border: 5px solid hsl(189, 47%, 57%);
  border-radius: 2em;
  cursor: pointer;
  position: relative;
  transition: 0.25s ease-out;
}
button::before, button::after {
  content: "";
  border-radius: inherit;
  transition: inherit;
  position: absolute;
  inset: 0;
  pointer-events: none;
}
button::before {
  inset: -0.2em;
  z-index: -1;
  background: linear-gradient(hsl(185, 39%, 81%), hsl(185, 39%, 81%));
  filter: blur(1.2em) saturate(1.2);
  transform-origin: bottom;
  transform: scaleY(0.5);
  opacity: 0;
}

button:hover, button:focus {
  color: hsl(189, 47%, 57%);
  border-color: hsl(189, 47%, 57%);
  box-shadow: inset 0 1.4em 0 hsla(var(--shadow-inner), 0.1), inset 0 0 1.4em hsla(var(--shadow-inner), 0.32), 0 1px 1px hsla(var(--shadow-inner), 0.32);
}
button:hover::before, button:hover::after, button:focus::before, button:focus::after {
  transform: none;
  opacity: 1;
}

.container {
  padding: 5px;
  padding-left: 190px;
  position: relative;
  z-index: 1;
}