*{   
	box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
	
	display:100%;
	background-color: #ffffff;
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow: hidden;
}

/* Styles for mobile */
@media only screen and (max-width: 900px) {
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
   
body {
		zoom:60%;
	 height: auto;
	  overflow:auto;
	 
    }
}

main{ 
	  zoom:110%;
      align-items: center;
	  padding: 100px;
	  display: block;

}



.logo{
	margin-top: 5%;
    margin-left: 40px;
	margin-right: 0%;
	width: 180px;
	height: 80px;
	object-fit: scale-down;
    padding-left: 0;

}

h3{
   padding: 5px;
   padding-left: 30px;
   font-size: 25px;
   padding-bottom: 0%;
   font-style: normal;
   color: rgba(63,65,78,255);

}

.btn {
	background-color: white;
	border: 0;
	color: rgb(0, 0, 0);
	font-size: 40px;
	position: absolute;
	margin-top: 0%;
	margin-left: 530px;
	cursor: pointer;
	top: 5px;
	right: 10px;

  }
  
  /* Darker background on mouse-over */
  .btn:hover {
	background-color: whitesmoke;
  }

#policy{
   padding:30px ;


}

label {
	display: block;
	margin-bottom: 10px;
	padding: 0;
}

input[type="text"],
input[type="password"] {
	margin: 2px;
	margin-left: 30px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 100%;
	box-sizing: border-box;
}

.Account{
	padding: 8px;
	margin:40px;
	margin-left: 30px;
	width:250px;
	background-color:#FF406C ;
	border:#FF406C ;
}

.lAccount{
	padding: 8px;
	margin:40px;
	margin-left: 30px;
	width:250px;
	background-color:rgba(101,153,255,255) ;
	border:rgba(101,153,255,255) ;
	color: white;
}

.Account:hover {
	background-color: #e64f77;
}

.footerlogo{
       
	width: 400px;
	height: 250px;
	padding: 0;

	margin-left: 0px;
	padding-top:20px;
}
